#map {
  background:red;
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-top:50px;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  height: auto;
}

#main-container.container-fixed {
  margin-top: 75px;
  margin-left: 10px;
}